/*首页样式*/
a{
    color:#000;
}
.index{
    background:url("../img/index/bg.png") no-repeat;
    background-size:100% 100%;
}
.index .top1{
    height:30vh;
    margin:0.7rem 0;
}
.index .top2{
    height:16vh;
    margin:0.5rem 0;
}
.navbar{
    background:url("../img/index/nav-bar.png") no-repeat;
    background-size:100% 100%;
}
.keygroup{
    position:absolute;
    height:28px;
    text-align: center;
    border-bottom: 1px solid #eee;
    top:56px;
    background:#fff;
    z-index: 1000;
}
.keygroup .key-common{
    line-height: 28px;
    border-right:1px solid #eee;
}
.search-pic{
    background:url("../img/index/searchpic.png") no-repeat;
    background-size:100% 100%;
}
.jb,.dq,.lb{
    display:none;
    margin:0;
    background:#fff;
    position:absolute;
    left:0;
    z-index:1000;
}
.jb.museum-active,.dq.museum-active,.lb.museum-active{
    display:block;
 }
.icons{
    display:inline-block;
    width:26px;
    height:24px;
}
.icon_index{
    background:url("../img/index/icon.png") -25px 0 no-repeat;
}
.icon_museum{
    background:url("../img/index/icon.png") -25px -23px no-repeat;
}
.icon_sz{
    background:url("../img/index/icon.png") -25px -47px  no-repeat;
}
.icon_js{
    background:url("../img/index/icon.png") -25px -70px no-repeat;
}
.icon_wc{
    background:url("../img/index/icon.png") -25px -94px no-repeat;
}
.icon_zx{
    background:url("../img/index/icon.png") -25px -120px no-repeat;
}
.icon_yp{
    background:url("../img/index/icon.png") -25px -299px no-repeat;
}
.icon_ls{
    background:url("../img/index/icon.png") -25px -146px no-repeat;
}
.icon_user{
    background:url("../img/index/icon.png") -25px -172px no-repeat;
}
.icon_msg{
    background:url("../img/index/icon.png") -25px -197px no-repeat;
}
.icon_out{
    background:url("../img/index/icon.png") -25px -223px no-repeat;
}
.icon-sao{
    display:inline-block;
    width:25px;
    height:25px;
    position:relative;
    top:4px;
    color:#fff;
    background:url("../img/index/icon.png") -25px -223px no-repeat;
}
.icon-pic{
    display:inline-block;
    width:25px;
    height:25px;
    position:relative;
    top:4px;
    color:#fff;
    background:url("../img/index/icon.png") -25px -223px no-repeat;
}
.user-bg{
    background:#2f2b1d;
}
.page-content{
    background:#f2ebd9;
}
/*左侧边栏*/
.panel_left{
    background:url("../img/index/panel-left-bg.png") no-repeat;
    background-size:100% 100%;
    color:#fff;
}
/*博物馆一览*/
.museum-list{
}
.museum-list li{
    height:335px;
    padding:0 20px;
    margin:10px 0;
    background:#fff;
}
.museum-list h4{
    margin:0;
    padding-top:5px;
    font-weight:normal;
    font-size:24px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.museum-msg i{
    display: inline-block;
    position:relative;
    top:7px;
    width:11px;
    height:20px;
    background:url("../img/index/sj.png") 0px 0px no-repeat;
}
.museum-msg u{
    display: inline-block;
    color:#fff;
    height: 20px;
    font-size:12px;
    text-decoration:none;
    background:rgba(0,0,0,0.53);
}
.museum-dq,.museum-lb,.museum-jb{
    position:absolute;
    vertical-align:bottom;
    right:0;
}
.museum-dq{
    top:90px;
}
.museum-lb{
    top:114px;
}
.museum-jb{
    top:138px;
}